/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
body {
    background-image: url("images/food.png");
}

.site-foreground {
    background-color: #FFE1A1;
    border-radius: 12px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.recipe-card {
    background-color: #ffffcc;
    border-radius: 12px;
    padding-bottom: inherit;
    padding-top: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
}

.recipe-card-image {
    width: 100%;
    height: 65%;
}

.recipe-card-desription {
    margin-top: 15px;
}

.navbar-color {
    background-color: #fffcb0;
}

.login {
    width: 55%;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.registration {
    width: 300px;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
a:hover {
    text-decoration: none;
}
