/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.site-background {
    background-image: url("images/food.png");
}

.site-foreground {
    background-color: #FFE1A1;
}

.recipe-card {
    background-color: #ffffcc;
    border-radius: 3px;
    padding: inherit;
    padding-top: 1px;
    margin-top: 30px;
    height: 300px;
}

.recipe-card-image {
    width: 100%;
    height: 65%;
}

.recipe-card-desription {
    margin-top: 15px;
}

.navbar-color {
    background-color: #FFF3AE;
}